@using System.Reflection
@using Domain.Api.Extensions
@using Domain.Generics.Persistance
@using Domain.Persistance.Entities.Entities

@{
    Layout = "~/Pages/Admin/Shared/AdminLayout.cshtml";

    var item = (Entity)ViewData["Entity"];
    var excludedProperties = ViewData["ExcludedProperties"] as IEnumerable<string>;
    var images = ViewData["Images"] as IEnumerable<Image>;

    var type = item.GetType();
    var properties = type.GetProperties().Where(p => !excludedProperties.Contains(p.Name));
}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>AdminLTE 3 | Advanced form elements</title>


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Project Add</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">@type.Name Add</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <form method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">General</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            @foreach (var prop in properties)
                            {
                                var actualType = Nullable.GetUnderlyingType(prop.PropertyType) ?? prop.PropertyType;
                                var propValue = prop.GetValue(item);

                                @if (actualType.IsEnum)
                                {
                                    var enumValues = Enum.GetValues(actualType);

                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="selectEnum">@prop.Name</label>
                                            <select name="@prop.Name" class="custom-select rounded-0" id="selectEnum">
                                                @foreach (var ev in enumValues)
                                                {
                                                    @if (propValue?.ToString() == ev.ToString())
                                                    {
                                                        <option selected="selected" value="@((int)ev)">@ev.ToString()</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@((int)ev)">@ev.ToString()</option>
                                                    }

                                                }
                                            </select>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-group">
                                        <label for="@prop.Name">@prop.Name</label>
                                        <input id="@prop.Name" class="form-control" name="@prop.Name" value="@propValue">
                                    </div>
                                }
                            }





                            @if (images != null)
                            {
                                @foreach (var img in images)
                                {

                                }
                            }

                            @RenderBody()
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <a href="/Admin/@type.Name/@(type.Name)List" class="btn btn-secondary">Cancel</a>
                    <input type="submit" value="@(item.IsEmpty() ? "Create" : "Update")" class="btn btn-success float-right">
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Dropzone.js <small><em>jQuery File Upload</em> like look</small></h3>
                    </div>
                    <div class="card-body">
                        <div id="actions" class="row">
                            <div class="col-lg-6">
                                <div class="btn-group w-100">
                                    <span class="btn btn-success col fileinput-button dz-clickable">
                                        <i class="fas fa-plus"></i>
                                        <span>Add files</span>
                                    </span>
                                    <button type="submit" class="btn btn-primary col start">
                                        <i class="fas fa-upload"></i>
                                        <span>Start upload</span>
                                    </button>
                                    <button type="reset" class="btn btn-warning col cancel">
                                        <i class="fas fa-times-circle"></i>
                                        <span>Cancel upload</span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-lg-6 d-flex align-items-center">
                                <div class="fileupload-process w-100">
                                    <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="opacity: 0;">
                                        <div class="progress-bar progress-bar-success" style="width: 100%;" data-dz-uploadprogress=""></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table table-striped files" id="previews">
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        Visit <a href="https://www.dropzonejs.com">dropzone.js documentation</a> for more examples and information about the plugin.
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>

